<?php

return [
    'db' => [
        'driver' => 'mysql',
        'host' => '127.0.0.1',
        'port' => 3306,
        'user' => 'root',
        'password' => '',
        'db_name' => 'school-board'
    ],
    'boards' => [
        [
            'id' => 'csm',
            'name' => 'CSM',
            'renderer' => \Boards\Renderers\CSM::class,
            'result_detector' => \Boards\ResultDetectors\CSM::class
        ],
        [
            'id' => 'csmb',
            'name' => 'CSMB',
            'renderer' => \Boards\Renderers\CSMB::class,
            'result_detector' => \Boards\ResultDetectors\CSMB::class
        ]
    ],
    'grades' => [
        'range' => [
            'from' => 1,
            'to' => 12
        ],
        'max' => 4
    ]
];
